.MatchBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  top: -100px;
}

.MatchInfo {
  width: 300px;
  height: 150px;
  background-color: black;
  border-radius: 1rem;
  color: white;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 173px;
    left: 175px;
    height: 0;
    width: 46px;
    border: 2px solid black;
    transform: rotate(90deg);
  }
}

//.HorizLine::after {
//  content: "";
//  position: absolute;
//  z-index: -1;
//  left: 0;
//  width: 400px;
//  height: 3px;
//  background-color: black;
//}

.MatchBlock:nth-child(odd) {
  top: 76px;
  transform: rotate(180deg);

  .MatchInfo {
    margin-top: 0;
    margin-bottom: 50px;
    transform: rotate(180deg);

    &::after {
      top: -27px;
      left: 125px;
    }
  }

  .DatePointLabel {
    transform: rotate(180deg);
  }
  //top: 137.5px;
  //
  //.VertLine {
  //  position: relative;
  //  top: -200px;
  //}
  //
  //.HorizLine {
  //  position: absolute;
  //  top: -39px;
  //}
  //
  //.HorizLine::after {
  //  left: -162px;
  //  top: 13px;
  //}
}

.DatePoint {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DatePointCircle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 10px solid black;
}