.MatchBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  top: -100px;
}

.MatchInfoLayout {
  width: 300px;
  height: 150px;
  background-color: #000000;
  border-radius: 1rem;
  color: white;
  margin-bottom: 50px;
  transition: 0.5s;

  &:hover {
    background-color: #555555;
    transition: 0.5s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 173px;
    left: 175px;
    height: 0;
    width: 46px;
    border: 2px solid black;
    transform: rotate(90deg);
  }
}

.MatchInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.MatchBlock:nth-child(odd) {
  top: 76px;
  transform: rotate(180deg);

  .MatchInfoLayout {
    margin-top: 0;
    margin-bottom: 50px;
    transform: rotate(180deg);

    &::after {
      top: -27px;
      left: 125px;
    }
  }

  .DatePointLabel {
    transform: rotate(180deg);
  }
}

.DatePoint {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DatePointCircle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 10px solid black;
}