.TimelineLayout {
  position: relative;
  padding-top: 113px;
  height: calc(100% - 100px);
  overflow: clip;
}

.TimelineScroll {
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: clip;
  justify-content: flex-start;
}

.TimelineLayout::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  top: calc(50% + 43px);
  height: 0;
  border: 2px solid black;
}